body {
    font-family: "Figtree", sans-serif;
    background-color: aqua;
}

.contact {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
}
.contact h1 {
    color: #333;
}
.social-links {
    margin-top: 20px;
}
.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #0077b5; /* LinkedIn Blue */
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.linkedin :hover {
    background-color: #079; /* LinkedIn Blue */
}
.fb {
    background-color: #3b5998; /* Facebook Blue */
}
.ig {
    background-color: #e4405f; /* Instagram Pink */
}
